body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.category-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.image-box {
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
    margin-top: 60px;
    position: relative; /* Potrebné pre absolútne umiestnenie textu */

}

.season-winter {
    background-image: url("img/winter.jpg");
}
.season-summer {
    background-image: url("img/summer.jpg");
}
.category-restaurants {
    background-image: url("img/restaurants.jpg");
}
.category-wellness {
    background-image: url("img/wellness.jpg");
}

.category-sportW {
    background-image: url("img/sportW.jpg");
}

.category-activity {
    background-image: url("img/activity.jpg");
}

.category-list a {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 4px;
    background-color: rgba(192, 192, 192, 0.651);
    text-decoration: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.zuberec {
    background-image: url("img/zuberec.jpg");
}

.main-image {
    position: relative; /* Potrebné pre správne zobrazenie overlay a textu */
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Čierna farba s 50% priehľadnosťou */
    border-radius: 15px; /* Zachováme rovnaké zaoblenie ako obrázok */
}
.overlay-text {
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    top: 10%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 20px;
}